#login .hero.is-success {
    background: #F2F6FA;
}

#login .hero .nav,
#login .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login .box {
    margin-top: 5rem;
}

#login .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

#login .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

#login input {
    font-weight: 300;
}

#login p {
    font-weight: 700;
}

#login p.subtitle {
    padding-top: 1rem;
}

#login .interactive-bg {
    height: 100vh;
    background-color: #8D68AB;
    -webkit-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    -moz-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
}

@media (max-width: 769px) {
    #login .interactive-bg {
        display: none
    }
}

#login .button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 150px;
}

#login .login-logo {
    margin: 0 auto;
    margin-bottom: 50px;
    max-height: 100px;
}

#login .columns {
    margin: 0px;
}
