body, button, input, select, textarea {
    font-family: Poppins;
}

.table th {
    border: 1px solid #f4f5f8;
}

.table.is-bordered tr:last-child th {
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.table td {
    border: 1px solid #f4f5f8;
}

.input, .textarea, .select select {
    border-color: #ebedf2;
}

.button, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    height: 3em;
    min-width: 3em;
}

.control.has-icons-right .input, 
.control.has-icons-right .select select {
    padding-right: 2.25em;
}
.control.has-icons-left .input, 
.control.has-icons-left .select select {
    padding-left: 3em;
}

.control.has-icons-left .icon, 
.control.has-icons-right .icon {
    height: 3em;
    width: 3em;
}

.select:not(.is-multiple):not(.is-loading)::after {
    margin: auto;
}

.file.is-fullwidth .file-name {
    display: flex;
}

.breadcrumb {
    font-size: 0.9rem;
    white-space: nowrap;
}

#app-header .navbar-brand {
    background: #282a3c;
}

.navbar-burger {
    cursor: pointer;
    height: 4.25rem;
    position: relative;
    width: 4.25rem;
    margin-left: auto;
}

.navbar-brand, .navbar-tabs {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 4.25rem;
}

.is-paddingless {
    padding: 0 !important;
}

.card {
    background-color: white;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.title,
.subtitle {
  word-break: break-word;
}

.title em,
.title span,
.subtitle em,
.subtitle span {
  font-weight: inherit;
}

.title sub,
.subtitle sub {
  font-size: 0.75em;
}

.title sup,
.subtitle sup {
  font-size: 0.75em;
}

.title .tag,
.subtitle .tag {
  vertical-align: middle;
}

.title {
  color: #363636;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.title strong {
  color: inherit;
  font-weight: inherit;
}

.title + .highlight {
  margin-top: -0.75rem;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.25rem;
}

.title.is-1 {
  font-size: 2.5rem;
}

.title.is-2 {
  font-size: 2rem;
}

.title.is-3 {
  font-size: 1.5rem;
}

.title.is-4 {
  font-size: 1.2rem;
}

.title.is-5 {
  font-size: 1rem;
}

.title.is-6 {
  font-size: 0.9rem;
}

.title.is-7 {
  font-size: 0.65rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle strong {
  color: #363636;
  font-weight: 600;
}

.subtitle:not(.is-spaced) + .title {
  margin-top: -1.25rem;
}

.subtitle.is-1 {
  font-size: 2.5rem;
}

.subtitle.is-2 {
  font-size: 2rem;
}

.subtitle.is-3 {
  font-size: 1.5rem;
}

.subtitle.is-4 {
  font-size: 1.2rem;
}

.subtitle.is-5 {
  font-size: 1rem;
}

.subtitle.is-6 {
  font-size: 0.9rem;
}

.subtitle.is-7 {
  font-size: 0.65rem;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

body {
    width: 100%;
    height: 100vh;
    font-size: .9rem;
}

nav.navbar {
    border-top: 4px solid #8D68AB;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
}

.table-wrapper {
    overflow-x: auto;
}

#login .hero.is-success {
    background: #F2F6FA;
}

#login .hero .nav,
#login .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login .box {
    margin-top: 5rem;
}

#login .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

#login .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

#login input {
    font-weight: 300;
}

#login p {
    font-weight: 700;
}

#login p.subtitle {
    padding-top: 1rem;
}

#login .interactive-bg {
    height: 100vh;
    background-color: #8D68AB;
    -webkit-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    -moz-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
}

@media (max-width: 769px) {
    #login .interactive-bg {
        display: none
    }
}

#login .button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 150px;
}

#login .login-logo {
    margin: 0 auto;
    margin-bottom: 50px;
    max-height: 100px;
}

#login .columns {
    margin: 0px;
}

#app-header {
    margin: 0;
}

#app-header .navbar-brand {
    background: #282a3c;
}

#app-header .navbar-brand .navbar-item:first-child {
    padding: 0 40px;
    text-transform: bold;
    color: #C7C8D2;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
}

#navigation {
    padding: 0;
    background: #292C3A;
}

#navigation .menu {
    font-size: .9rem;
}

#navigation p.menu-label {
    color: #868aa8;
    padding: 0px 40px;
    margin-top: 20px;
}

#navigation li a {
    color: #868aa8;
    padding: 9px 40px;
}

#navigation li a .icon {
    color: #525672;
}

#navigation li a.is-active {
    color: #8D68AB;
    background-color: transparent;
}

#navigation a.is-active .icon {
    color: #868aa8;
}

#navigation a:hover {
    transition: background-color .3s;
    background-color: #2C2F3D;
}

#navigation a:hover .icon {
    color: #868aa8;
}

#touchMenu {
    display: none;
    height: calc(100vh - 4.4rem);
    overflow: auto;
}

#touchMenu.is-active {
    display: block;
}

#touchMenu .menu-list a {
    border-radius: 0px;
    padding: 1em 2.4em;
}

#app-content {
    background: #F2F3F8;
    margin: 0;
    padding-top: 5.4rem;
    min-height: 100vh;
}

#page-content {
    padding: 2rem;
}

#page-content .content-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    align-items: center;
}

#page-content .content-header .title {
    margin: 0;
}

#page-content .content-header .separator {
    border-left: 2px solid #e2e5ec;
    height: 30px;
    margin: 0 20px;
}

#page-content .content-body .card-filter {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: row;
}

#page-content .content-body .card-filter .field {
    margin-bottom: 0;
}

#page-content .content-body .card-filter .field:not(:last-child) {
    margin-right: 0.75rem;
}

#page-content .content-body .card-filter .field:first-child {
    flex-grow: 1;
}

#page-content .content-body form .field.action {
    margin-top: 1.5rem;
}

#page-content .content-body table .field.action.is-grouped {
    justify-content: center;
}

#page-content .content-body table .field.action.is-grouped > .control:not(:last-child) {
    margin-right: 0.3rem;
}

#page-content .content-body table .field.action .button.is-text {
    text-decoration: none;
}

#page-content .content-body table .field.action .button:hover {
    background: #8D68AB;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    #app-header .navbar-brand .navbar-item:first-child {
        float: left;
        height: 4.25rem;
    }

    #app-content {
        padding-top: 4.5rem;
    }

    .navbar-burger {
        color: #fff;
    }

    .navbar-burger:hover {
        color: #8D68AB;
    }

    #page-content .content-header .separator,
    #page-content .content-header nav.breadcrumb {
        display: none;
    }

    #page-content .content-body .card-filter {
        flex-direction: column;
    }

    #page-content .content-body .card-filter .field {
        margin-bottom: .5rem;
        margin-right: 0 !important;
        height: 3rem;
    }

    #page-content .content-body .card-filter .field.has-addons .control {
        flex: 1;
    }

    #page-content .content-body .card-filter .field.has-addons .button {
        width: 100%;
    }

    #page-content .content-body .card-filter .field div,
    #page-content .content-body .card-filter .field div input,
    #page-content .content-body .card-filter .field div select {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        justify-content: center;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        float: inherit;
    }

    div.dataTables_paginate .pagination-list li {
        flex-grow: 0;
    }

    div.table-wrapper {
        margin-bottom: calc(1.5rem - 0.75rem) !important;
    }
} 

/* SweetAlert2 */
.swal2-popup .swal2-title {
    font-size: 1.4rem;
}

.swal2-popup .swal2-content,
.swal2-popup .swal2-styled.swal2-confirm,
.swal2-popup .swal2-styled.swal2-cancel {
    font-size: .9rem;
}

.swal2-actions button {
    min-width: 105px;
}

.swal2-actions.swal2-loading button {
    min-width: initial;
}

/* DataTable */
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    font-family: 'Font Awesome 5 Free';
}

table.dataTable thead .sorting:after {
    content: "\f161"
}

table.dataTable thead .sorting_asc:after {
    content: "\f161";
    opacity: 1;
}

table.dataTable thead .sorting_desc:after {
    content: "\f160";
    opacity: 1;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.75rem;
    top: 0.75rem;
    font-family: 'Font Awesome 5 Free';
}

.dataTables_info {
    display: flex;
    align-items: center;
    height: 100%;
}

.dataTables_wrapper .columns:nth-child(1) {
    margin-bottom: 0;
}

.dataTables_wrapper .columns:nth-child(2) .column {
    padding-top: 0px;
}

.ss-main .ss-single-selected {
    height: 3em;
    padding: 0;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
}

.ss-main .ss-single-selected .ss-arrow {
    margin: 0 9px 0 5px;
}